<div class="drop-zone" [ngClass]="{'accept-drop': acceptDrop, 'reject-drop': acceptDrop === false}" id="container"
    (dragenter)="dragEnterOver($event)" (dragleave)="dragLeave($event)" (dragover)="dragEnterOver($event)"
    (drop)="drop($event)">
    <input #input id="input" type="file" (change)="go($event.target.files)" multiple accept=".xml" />
    <button id="addButton" mat-raised-button color="primary" (click)="input.click()">
        <h1>Click or drag & drop</h1>
    </button>

    <div id="transformationItemsViewContainer">
        <div id="transformationItemsView">
            <mat-card *ngFor="let transformationItem of transformationItems">
                <mat-card-header>
                    <mat-card-title>{{transformationItem.name}}</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <mat-progress-bar *ngIf="transformationItem.transformation | async; let transformation"
                        [mode]="transformation.progressValue === 0 ? 'indeterminate' : 'determinate'"
                        [value]="transformation.progressValue / transformation.completionValue * 100"
                        [color]="transformation.arrayBuffer ? 'accent' : 'primary'">
                    </mat-progress-bar>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>