@use '~@angular/material' as mat;
@mixin drop-zone-theme($theme) {
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .accept-drop {
        background-color: mat.get-color-from-palette($accent);
    }

    .reject-drop {
        background-color: mat.get-color-from-palette($warn);
    }
}

.drop-zone {
    transition: background-color 1s;
}

:host {
    display: flex;
    flex-flow: column;
    overflow: hidden !important;
}

:host,
#transformationItemsViewContainer {
    flex: 1 1 auto;
    overflow: auto;
}

#transformationItemsViewContainer {
    margin-top: 8px;
}

.flex-container {
    display: flex;
    flex-flow: column;
}

#configuration {
    display: flex;
    flex-flow: column;

    /*> h2 {
        margin-bottom: 0;
    }*/
}

.spaceAround {
    padding-right: 8px;
    padding-left: 8px;
}

#container {
    box-sizing: border-box;
    padding: 8px;
    padding-top: 16px;

    height: 100%;

    overflow: hidden;

    display: flex;
    flex-flow: column;
}

mat-card {
    display: block;
    margin-top: 8px;
}

mat-card:first-child {
    margin-top: 0;
}

#addButton {
    display: block;
    width: 100%;
    min-height: 75px;
}

#addButton h1 {
    margin: 0;
    white-space: pre-wrap;
}

#inputForm {
    display: none;
}

.italic {
    font-style: italic;
}

.configControls {
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
}

.advancedControls {
    display: flex;
    flex-direction: column;
}

.alignSelfCenter {
    align-self: center;
}

.displayFlex {
    display: flex;
}

.flexDirectionColumn {
    flex-direction: column;
}

$pad: 16px;
.padBottom {
    padding-bottom: $pad;
}

.padRight {
    padding-right: $pad;
}

.margin-top-bottom {
    margin-top: 2px;
    margin-bottom: 2px;
}

.margin-left {
    margin-left: 4px;
}

#sysRootInput {
    flex: 1 1 auto;

    .mat-form-field-infix {
        width: auto;
    }
}
