<div id="configuration" class="spaceAround">
    <h2>Configuration:</h2>
    <form id="configControls" #configForm="ngForm">
        <mat-slide-toggle [(ngModel)]="configuration.includeBranchesWithoutCAD" name="includeBranchesWithoutCAD">Include
            branches without CAD
        </mat-slide-toggle>

        <mat-form-field id="sysRootInput">
            <mat-label>Path to <span class="italic">sys_root</span></mat-label>
            <input matInput [(ngModel)]="configuration.sysRootPath" name="sysRootPath" required>
        </mat-form-field>
    </form>
</div>

<div class="drop-zone" [ngClass]="{'accept-drop': acceptDrop, 'reject-drop': acceptDrop === false}" id="container"
    (dragenter)="dragEnterOver($event, configForm.invalid)" (dragleave)="dragLeave($event)"
    (dragover)="dragEnterOver($event, configForm.invalid)" (drop)="drop($event)">

    <form #form>
        <input #input type="file" (change)="go($event.target.files); form.reset()" multiple accept=".xml" />
    </form>

    <button [disabled]="configForm.invalid" id="addButton" mat-raised-button color="primary" (click)="input.click()">
        <h1>Click or drag & drop</h1>
    </button>

    <div id="transformationItemsViewContainer">
        <div class="spaceAround">
            <ng-container *ngFor="let transformationItem of transformationItems">
                <mat-card *ngIf="(transformationItem.transformation | async) || {} as transformation">
                    <mat-card-header>
                        <mat-card-title>{{transformationItem.name}}</mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                        <mat-progress-bar [mode]="transformation?.progressValue === 0 ? 'indeterminate' : 'determinate'"
                            [value]="transformation?.progressValue / transformation?.completionValue * 100"
                            [color]="transformation?.arrayBuffer ? 'accent' : 'primary'">
                        </mat-progress-bar>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </div>
</div>