:host {
    display: flex;
    flex-flow: column;

    height: 100%;
}

.header {
    display: flex;
    flex-flow: row;
    align-items: flex-start;

    width: 100%;
    padding-top: 8px;
    box-sizing: border-box;
}

#version {
    text-align: right;
    flex: 1 1 auto;
}

.spaceRight {
    padding-right: 8px;
}

.spaceAround {
    padding-right: 8px;
    padding-left: 8px;
}

#browserLacksFeaturesNote {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    > img {
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }

    > h2 {
        white-space: nowrap;

        > span {
            display: block;
        }
    }
}
