@import "./custom-theme.scss";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    &.dark-backdrop {
        opacity: 0.85 !important;
    }
}

.colour-warn {
    color: mat-color($custom-theme-warn) !important;
}