<button mat-icon-button class="back" (click)="overlayRef.dispose()">
    <mat-icon>west</mat-icon>
</button>

<ng-container *ngIf="overlayContent.overlayContentType === OverlayContentType.Video">
    <div class="spinner-wrapper" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>

    <video class="global-width" (canplay)="loading = false" [style.opacity]="loading ? 0 : 1" controls preload="auto"
        autoplay muted loop>
        <source [src]="overlayContent.link" [type]="overlayContent.mimeType">
    </video>
</ng-container>

<ng-container *ngIf="overlayContent.overlayContentType === OverlayContentType.IFrameLink">
    <iframe class="global-width" [src]="overlayContent.link"></iframe>
</ng-container>
